---
// Importing the necessary components
import BasicLayout from '../layouts/BasicLayout.astro'; // Basic layout component
import Search from '../components/Search.svelte'; // Search component
import Current from '../components/Current.svelte'; // Current component
---

<!-- Using BasicLayout component -->
<BasicLayout 
    lang="en"
    title="WeatherApp"
>
	<!-- Body section of the BasicLayout -->
	<section slot="body" class="p-4 flex flex-col gap-4">
		<!-- Search component -->
		<Search client:load />

		<!-- Current component -->
		<Current client:load />
	</section>
</BasicLayout>