---
// Importing the BasicLayout layout
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout lang="es" title="WeatherApp">
	<!-- This is the body section of the BasicLayout -->
	<section slot="body">
		<!-- Content goes here -->
	</section>
</BasicLayout>