---
// Importing the necessary components
import BasicLayout from '../layouts/BasicLayout.astro'; // Basic layout component
import Search from '../components/Search.svelte'; // Search component
import Test from '../components/Test.svelte'; // Test component
---

<!-- Using BasicLayout component -->
<BasicLayout 
    lang="es"
    title="WeatherApp"
>
	<!-- Body section of the BasicLayout -->
	<section slot="body">
		<!-- Search component -->
		<Search client:load />

		<!-- Test component -->
		<Test client:load />
	</section>
</BasicLayout>